.aside .logo::before{
    border-left: 4px solid #ec1839;
    border-top: 4px solid #ec1839;

}
.aside .logo::after{
    border-right: 4px solid #ec1839;
    border-bottom: 4px solid #ec1839;
}
.aside .nav li a.active{
    color: #ec1839;
    padding-left: 6px;
}
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links ul li a{
   background-color: #ec1839;
}